{%extends 'base.html'%}

{%block wikipedia%}
    <li><a href="https://it.wikipedia.org/wiki/Pagina_principale">Wikipedia</a></li>
{%endblock%}

{%block Container%}
    <table>
        <tr>
            <th>Nome Prodotto</th>
            <th>Scaffale</th>
            <th>Prezzo</th>
        </tr>
        {%for item in tupla%}
        <tr>
            <td>{{item[0]}}</td>
            <td><a href="{{url_for('scaffale', nScaffale=item[1])}}">{{item[1]}}</a></td>
            <td>{{item[2]}}</td>
        </tr>
        {%endfor%}
    </table>
{%endblock%}